body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFECEC;
    color: #333;
}

header {
    background-color: #0C2D57;
    color: #fff;
    text-align: center;
    padding: 2em 0;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    font-size: 1.2em;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

section {
    text-align: center;
    padding: 2em 0;
}

img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.bio {
    max-width: 600px;
    margin: 0 auto;
}

.skills {
    background-color: #FC6736;
    color: #fff;
    padding: 1em;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
}

.projects {
    padding: 2em 0;
}

.project {
    margin-bottom: 2em;
}

.resume {
    background-color: #FFB0B0;
    color: #fff;
    padding: 1em;
    border-radius: 8px;
    max-width: 200px;
    margin: 0 auto;
    text-decoration: none;
    display: inline-block;
    margin-top: 1em;
}

.contact {
    background-color: #0C2D57;
    color: #fff;
    padding: 2em 0;
}

footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}